html {
  font-family: "Comfortaa";
  background-color: #fff;
}

/* -----------HOME/HEADER */

.name {
  width: 25%;
}

.img-flex {
  width: 100%;
}

header {
  margin: 0;
  height: 70vh;
  position: relative;
}

.box {
  width: 100%;
  height: 70%;
  position: absolute;
}

.red {
  background: #f15b5b;
}

.wordmark {
  text-align: right;
}

p {
  font-family: "Open Sans Condensed";
}

.nav {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #000;
}

.nav a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: #fff;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  position: absolute;
  right: 0;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {
  background-color: grey;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}


/* -----------PORTFOLIO */

.portfolio {
  background-color: #fff;
}

.work {
  display: inline-block;
}

.work-thumb {

}

.work-description {

}



/* -----------CONTACT */

.contact {
  background-color: #414042;
  color: #fff;
}




/* -----------FOOTER */





/* -----------MEDIA QUERIES */

@media only screen and (min-width: 38em) {
  nav a {
    color: #fff;
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: none;
    display: block;
    float: left;
    text-align: center;
  }

  nav > ul > li > a > #home {
    float: right;
  }

  .nav {
    background-color: #000;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

}

@media only screen and (min-width: 60em) {


}

@media only screen and (min-width: 90em) {


}
