html {
  font-family: "Comfortaa";
  background-color: #fff;
}

main {
  position: relative;
  z-index: 2;
}

/* ----------HEADER */

.name {
  width: 25%;
}

.img-flex {
  width: 100%;
}

header {
  margin: 0;
  position: relative;
}

.header-home {
  height: 50vh;
  z-index: 6;
}

.box-home {
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: 5
}

.box-other {
  width: 100%;
  height: 17%;
  position: absolute;
}

.red {
  background: #f15b5b;
}

.logo {
  display: inline-block;
}

.wordmark {
  text-align: right;
}

p {
  font-family: "Open Sans Condensed";
}

.nav {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #000;
  /*    position: absolute;   */
  z-index: 10;
  right: 15px;
  top: 0px;
  padding: 15px 13px;
}

.nav a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: #fff;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  position: absolute;
  right: 15px;
  top: 30px;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {
  background-color: #ff
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}


/* -----------PORTFOLIO */

.work {
  background-color: #fff;
  padding: 0;
  position: relative;
  z-index: 4;
  margin-bottom: 340px;
  box-shadow: 0 30px 60px 20px rgba(0,0,0,.2);
}

.work-entry {
  display: inline-block;
}

.work-thumb {

}

.work-description {
  text-decoration: none;
  list
}

.hero-project {
  width: 100%;
  background-color: #fff;
}

.hero-fixed {
  position: relative;
  padding: 8em 0;
}

.delivered {

}

.delivered-box {
  background-color: #000;
  color: #fff;
  margin: 0;
}

.delivered-box li {
  display: inline-block;
  list-style-type: none;
}

.portfolio-piece {
  position: relative;
  z-index: 4;
  background-color: #fff;
  padding-bottom: 1em;
  margin-bottom: 340px;
  box-shadow: 0 30px 60px 20px rgba(0,0,0,.2);
}

.project-content {
  padding: 0 1em 0 1em;
}




/* -----------ABOUT ME */
 .about {
   background-color: #fff;
   position: relative;
   z-index: 4;
   padding: 0 1em 0 1em;
 }

/* -----------CONTACT */



/* -----------FOOTER */

.pre-footer {
  background-color: #414042;
  color: #fff;
  text-align: center;
  position: fixed;
  padding: 4.5em 0;
  bottom: 0;
  z-index: 1;
  margin-bottom: 45px;
  background-blend-mode: overlay;
  float: left;
  display: block;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  float: left;
  display: block;
  width: 100%;
  background-color: #ccc;
}

.btn a {
  color: #fff;
  text-decoration: none;
}



/* -----------MEDIA QUERIES */

@media only screen and (min-width: 38em) {
  header {
    height: 100vh;
  }

  .box {
    height: 100%;
  }

  nav a {
    color: #fff;
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: none;
    display: block;
    float: left;
    text-align: center;
  }

  nav > ul > li > a > #home {
    float: right;
  }

  .nav {
    background-color: #000;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

}



@media only screen and (min-width: 60em) {


}



@media only screen and (min-width: 90em) {


}
